$white-text: #ffffff;
$grey-text: rgba(255,255,255,0.2);
$green-text: #70c446;
$red-text: #da2c41;

$blue-bg: #1b232b;
$green-bg: #2d4934;
$grey-bg: #444444;
$brown-bg: #3e1d09;

$blue-border: #92e8fe;

$large: 1045px;
$medium: 845px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;